/* css/style.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

:root {
    --txt: #333;
    --btn: #93c572;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2fafa;
  color: var(--txt);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-svg {
  pointer-events: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: -5rem;
  width: 500px;
  max-width: 90vw;

  animation: floatTitle 2s ease-in-out infinite;
}

@keyframes floatTitle {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(10px); }
  100% { transform: translateY(0); }
}

h1 {
    text-transform: uppercase;
}

#themeToggle {
  background: none;
  border: none;
  padding: 0;
}

#themeToggle img {
  z-index: 999;
  height: 100px;
  width: 100px;
  
  transition:
    transform 0.6s ease,
    opacity 0.3s ease;
}

.rotate-out {
  transform: rotate(180deg) scale(0.8);
  opacity: 0;
}

body.night .rotate-out {
  transform: rotate(-180deg) scale(0.8);
}

#plantContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

#plant {
  width: 400px;
  height: 400px;
  background-color: transparent;
  margin-bottom: 20px;
}

#plant img {
    width: 100%;
    height: 100%;
}

#thirstBarContainer {
  width: 40%;
  background-color: lightgray;
  height: 25px;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 12px;
  border: 1px solid #2b2b60;
  box-shadow: 1px 1px 0 1px #2b2b60;
}

#thirstBar {
  height: 100%;
  width: 100%;
  background-color: #6495ed;
  background: linear-gradient(
    to right,
    #4c6cb3,
    #6495ed
  );
  transition: width 1s linear;
}

#water-btn {
  padding: 10px;
  cursor: pointer;
  background-color: var(--btn);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.3px;
  color: #455f36;
  border-radius: 5px;
  border: 1px solid #455f36;
  box-shadow: 1px 1px 0 1px #455f36;
}

.watering {
  filter: brightness(1.2);
  transition: 0.5s;
}
